// variables
@import './variables.scss';
// mixins
@import './mixins.scss';

// bootstrap
@import '~bootstrap/scss/bootstrap';

// google font
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;500;600;700&display=swap');

// reset
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

// typo
body {
    font-family: 'Montserrat', sans-serif;
}

// my container
.wrapper {
    width: 70%;
    margin: auto;
}

// link
a {
    text-decoration: none;
    color: inherit;
}
a:hover {
    color: inherit;
}

// buttons
.btn_full {
    background-color: $mainColor;
    padding: .875rem 1.5625rem;
    border-radius: .3125rem;
    color: #fff;
}
.btn_full:hover {
    color: #fff;
    background-color: $mainColorLighter;
}
.btn_empty {
    border: .0625rem solid $mainColor;
    padding: .875rem 1.5625rem;
    border-radius: .3125rem;
    color: $mainColor;
}
.btn_empty:hover {
    color: $mainColorLighter;
    border: .0625rem solid $mainColorLighter;
}