@import './variables.scss';

// lists
@mixin list-style-none {
    list-style: none;
    margin: 0;
    padding: 0;
}

@mixin inline-block-list {
    @include list-style-none;
    display: inline-block;
    li {
        display: inline-block;
    }
}

// positions
@mixin center-absolute {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

// flex properties
@mixin space-between {
    display: flex;
    justify-content: space-between;
}
@mixin align-center {
    display: flex;
    align-items: center;
}
@mixin align-center-between {
    @include align-center;
    justify-content: space-between;
} 

// logo 
@mixin logo-style {
    font-weight: bold;
    letter-spacing: 0.2em;
    span {
        background-color: rgba(0, 166, 166, 0.2);
        padding: .8125rem .125rem .8125rem 1.5625rem;
        margin-right: .125rem;
        border-radius: 1.875rem 0 0 1.875rem;
        color: $mainColorLighter;
    }
}

// headings
@mixin heading-style {
    font-weight: bolder;
    color: $textColorPrimary;
    span {
        color: $mainColor;
        background-color: $mainColorTransparent;
        border-radius: .3125rem;
    }
}