// colors
$mainColor: rgb(3, 132, 132);

$mainColorTransparent: rgb(3, 132, 132, 0.2);

$mainColorTransparentDark: rgb(3, 132, 132, 0.4);

$mainColorLighter: rgb(0, 166, 166);

$textColorPrimary: rgb(33, 51, 62);

$textColorSecondary: rgb(98, 111, 119);

$bgColor: rgb(238, 241, 237);